html,
body {

    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    font-size: 14px;
    margin: 0;
    color: #191919;
}

.container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    /* padding: 10px; */
}

.container-fluid {
    width: 100%;
    /* padding: 10px; */
}

.full-height {
    height: 100vh;
}

.half-height {
    height: 50vh;
}

.a-homepage {
    font-size: .9em;
    background: transparent;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #394EEA;
    border-radius: 50px;
    transition: 0.3s ease;
}

.a-homepage:hover {
    background: #394EEA;

}

.footer {
    height: 30vh;
    background: #191919;
    color: #fff;
}

.lineup {
    margin-top: 0px;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 0px;
    top: 0px;
    justify-content: center;
    padding: 25px;
    background: rgba(25, 25, 25, 0.5);
    border-radius: 0 0 0 50px;
    -webkit-animation-name: to-right;
    -webkit-animation-duration: 1.5s;
    animation-name: to-right;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    transition: .5s;
}

.top-right:hover {
    background: rgba(25, 25, 25, 0.8);

}

.content {
    text-align: center;
}

.title {
    font-family: 'Nunito';
    font-size: 6em;
}

.subtitle {
    font-size: 1.5em;
}

.links>a {
    color: #cacaca;
    padding: 0 25px;
    font-size: 1em;
    letter-spacing: .1rem;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

.links>a:hover {
    color: #fff;
    transform: scale(1.1);
    transition: 0.2s;
}

.m-b-md {
    margin-bottom: 30px;
}

#home {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(25, 25, 25, 0.5) 65%, rgba(25, 25, 25, 0.8) 80%, rgba(25, 25, 25, 1) 100%),
        url(../image/bg-irent2.png);
    color: #fff;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto;
}

.col {
    padding: 20px;
    font-size: 28px;
    text-align: center;
}

.btn-form {
    text-decoration: none;
    color: white;
    border: 1px solid #191919;
    padding: 15px;
    margin-left: 20px;
    background: #191919;
}

#advantages {
    background: rgba(25, 25, 25, 1);
    color: #fff;
}

#ask {
    background: url(../image/bg-irent.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
}

#contact {
    background: #394EEA;
    color: #fff;
}

#contact-form {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

#contact-form>input {
    padding: 15px;
    border: 5px solid #191919;
    width: 80%;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade-right {
    -webkit-animation-name: fade-right;
    -webkit-animation-duration: 1.5s;
    animation-name: fade-right;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}

.fade-up {
    opacity: 0;
    -webkit-animation-name: fade-up;
    -webkit-animation-duration: 1.5s;
    animation-name: fade-up;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}

.delay-2 {
    animation-delay: 2s;
}

.delay-point-5 {
    animation-delay: .5s;
}



@-webkit-keyframes fade-right {
    from {
        opacity: 0;
        position: relative;
        left: -5%;
    }

    to {
        opacity: 1;
        position: relative;
        left: 0;
    }
}

@keyframes fade-right {
    from {
        opacity: 0;
        position: relative;
        left: -5%;
    }

    to {
        opacity: 1;
        position: relative;
        left: 0;
    }
}

@-webkit-keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(20deg);
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes to-right {
    from {
        top: -100px;
    }

    to {
        top: 0px;
    }
}

@keyframes to-right {
    0% {
        top: -100px;
    }

    100% {
        top: 0px;
    }
}
